//variables
$body-bg: white;
$main-font: 'Arial';

//$primary-color: #008080;
//$secondary-color: #009A9A;
//$light-color: #F4F4F4F4;
//$dark-color: #333333;

$primary-color: #B51C05;
$secondary-color: #000000;
$light-color: #555555;
$dark-color: #4B1515;

$container: 960px;
$section-padding: 40px;
$text-decoration: none;

//Declare variables first. used in Bootstrap.scss
$bg-color: rgb(12, 107, 0);
$default-text-color: #000000;
$btn-default-color: #000000;
$btn-hover-color: #808080;